@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Henry DVD Index</h1>
    <p class="lead">This index will allow you to sort DVDs by director, writer, title or location. Genres and actors will be added later.</p>
    <p><a href="http://www.imdb.com/" class="btn btn-primary btn-lg">Access IMDB &raquo;</a></p>
</div>
